const setting = {
    // Web3
    WEB3_PROVIDER_URL: 'https://jsonrpc.maiziqianbao.net/',
    // MongoDB
    MONGODB_URL: 'mongodb://localhost:27017/',
    MONGODB_DB: 'evm',

    // EVM
    BLOCK_START_AT: 0,
    CHAIN_ID: 1,

    CHAIN_NAME: "Ethereum",
    CHAIN_LOGO: "https://",

    // ICON
    TOKEN_ICON_BASE_URL: ''
}

module.exports = setting;